<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load currency %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '#' %}">
    <title>SJ and Firdous Hardware Management System </title>
    <!-- Bootstrap Core CSS -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js" integrity="sha256-z0oKYg6xiLq3yJGsp/LsY9XykbweQlHl42jHv2XTBz4=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css" integrity="sha256-XPTBwC3SBoWHSmKasAk01c08M6sIA5gF5+sRxqak2Qs=" crossorigin="anonymous" />
    
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    {% comment %} <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet"> {% endcomment %}
    <!-- Menu CSS -->
    <link href="{% static 'plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css' %}" rel="stylesheet">
    <!-- animation CSS -->
    <link href="{% static 'css/animate.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <!-- color CSS -->
    <link href="{% static 'css/colors/default.css' %}" id="theme" rel="stylesheet">
    {% comment %} <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> {% endcomment %}
    <link href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/responsive/2.2.5/css/responsive.bootstrap.min.css" rel="stylesheet">
    
    {% comment %} Chart js {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    
    
    
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.5/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.5/js/responsive.bootstrap.min.js"></script>
    
    <script>
    $(document).ready(function() {
        $('#example').DataTable();
        
    } );
    </script>

    
    

</head>

<body class="fix-header">
    <!-- ============================================================== -->
    <!-- Preloader -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Wrapper -->
    <!-- ============================================================== -->
    <div id="wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header" style="background: green;">
                <div class="top-left-part">
                    <!-- Logo -->
                    <a class="logo" href="/">
                        <!-- Logo icon image, you can use font-icon also -->
                        <b>
                            <!--This is dark logo icon-->
                            {% comment %} <img src="{% static 'plugins/images/admin-logo.png' %}" alt="home" class="dark-logo" /> {% endcomment %}
                            <!--This is light logo icon-->
                            <img src="{% static 'images/sj-profile.jpg' %}" alt="home" class="light-logo" style="height:50px;" />
                        </b>
                        <!-- Logo text image you can use text also -->
                        <span style="color: green;font-weight: bold;">
                            SJ & Firdous
                        </span>
                    </a>
                    
                </div>

                
                <!-- /Logo -->
                <ul class="nav navbar-top-links navbar-right pull-right">
                    <li>
                        <a class="nav-toggler open-close waves-effect waves-light hidden-md hidden-lg" href="javascript:void(0)"><i class="fa fa-bars"></i></a>
                    </li>
                    <li class="dropdown default-dropdown">


                        <form id="currency_switcher" method="POST" action="{% url 'selectcurrency' %}">
                            {% csrf_token %}
                            <select name="currency" onchange="submit()" class="currencyselect">          <!--  I removed onchange="submit() from this line"-->
                                {% for curr in CURRENCIES %}
                                    <option value="{{curr.code }}" class="curr{{curr.code}} currency"
                                            {% if curr.code == request.session.currency %}selected="selected"{% endif %}>
                                        {{ curr.symbol }} {{ curr.name }}
                                    </option>
                                {% endfor %}
                            </select>

                            <noscript>
                                <input type="submit" value="Set" class="currsubmit" />
                            </noscript>

                        </form>
                    </li>
                    <li>
                        <a class="profile-pic" href="#"> <img src="{% static 'images/sjfr.jpg' %}" alt="user-img" width="36" class="img-circle"><b class="hidden-xs">{{ request.user }}</b></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-header -->
            <!-- /.navbar-top-links -->
            <!-- /.navbar-static-side -->
        </nav>
        <!-- End Top Navigation -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav slimscrollsidebar">
                <div class="sidebar-head">
                    <h3><span class="fa-fw open-close"><i class="ti-close ti-menu"></i></span> <span class="hide-menu">Firdous</span></h3>
                </div>

                <ul class="nav" id="side-menu">
                    {% comment %} <li>
                    <span>
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{message.tags}}" role="alert">
                                {{ message|safe }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    </span>
                    </li>
                     {% endcomment %}
                    <li style="padding: 70px 0 0;">
                        <a href="/" class="waves-effect"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>Dashboard</a>
                    </li>
                    
                    <li>
                        <a href="{% url 'customers' %}" class="waves-effect"><i class="fa fa-users fa-fw" aria-hidden="true"></i>Customers</a>
                    </li>

                    {% comment %} <li>
                        <a href="{% url 'createcustomer' %}"class="waves-effect"><i class="fa fa-table fa-fw" aria-hidden="true"></i>Add Customer</a>
                    </li> {% endcomment %}
                    </li>
                    <li>
                        <a href="{% url 'stocks' %}" class="waves-effect"><i class="fa fa-book fa-fw" aria-hidden="true"></i>Stocks</a>
                    </li>
                    <li>
                        <a href="{% url 'cash' %}" class="waves-effect"><i class="fa fa-bank fa-fw" aria-hidden="true"></i>Cash Invoice</a>
                    </li>


                    <li>
                        <a href="{% url 'purchase' %}" class="waves-effect"><i class="fa fa-buysellads fa-fw" aria-hidden="true"></i>Purchase Order</a>
                    </li>

                    <li>
                        <a href="{% url 'payable' %}" class="waves-effect"><i class="fa fa-calculator fa-fw" aria-hidden="true"></i>Payable</a>
                    </li>
                    <li>
                        <a href="{% url 'transfer' %}" class="waves-effect"><i class="fa fa-credit-card fa-fw" aria-hidden="true"></i>Transfer</a>
                    </li>
                    <li>
                        <a href="{% url 'check' %}" class="waves-effect"><i class="fa fa-money fa-fw" aria-hidden="true"></i>Write Cheques</a>
                    </li>

                    <li>
                        <a href="{% url 'reportstemp' %}" class="waves-effect"><i class="fa fa-calculator fa-fw" aria-hidden="true"></i>Reports</a
                    </li>

                   
                    {% comment %} <li>
                        <a href="{% url 'workorders' %}" class="waves-effect"><i class="fa fa-globe fa-fw" aria-hidden="true"></i>Work Orders</a>
                    </li>
                    <li>
                        <a href="{% url 'createworkorder' %}" class="waves-effect"><i class="fa fa-globe fa-fw" aria-hidden="true"></i>Create Work Order</a>
                    </li> {% endcomment %}

                    {% comment %} <li>
                        <a href="{% url 'returnjobs' %}" class="waves-effect"><i class="fa fa-tasks fa-fw" aria-hidden="true"></i>Return Jobs</a>
                    </li>
                    <li>
                        <a href="{% url 'createreturnjobs' %}" class="waves-effect"><i class="fa fa-tasks fa-fw" aria-hidden="true"></i>Create Return Job</a>
                    </li>

                    <li>
                        <a href="{% url 'technicians' %}" class="waves-effect"><i class="fa fa-wrench fa-fw" aria-hidden="true"></i>Technicians</a>
                    </li> {% endcomment %}
                    <li>
                        <a href="{% url 'account_logout' %}" class="waves-effect"><i class="fa fa-sign-out fa-fw" aria-hidden="true"></i>Log out</a>
                    </li>
                </ul>
               
            </div>
            
        </div>

        <!-- ============================================================== -->
        <!-- Page Content -->
        <!-- ============================================================== -->
            
            {% block content %}
            

            {% endblock content %}
 
            </div>
            <!-- /.container-fluid -->
            <footer class="footer text-center"> 2022 &copy;SJ and Firdous Hardware Management System </footer>
        </div>
        <!-- ============================================================== -->
        <!-- End Page Content -->
        <!-- ============================================================== -->
    </div>
    
    {% comment %} <script src="{% static 'plugins/bower_components/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap Core JavaScript --> {% endcomment %}
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="{% static 'plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js' %}"></script>
    <!--slimscroll JavaScript -->
    <script src="{% static 'js/jquery.slimscroll.js' %}"></script>
    <!--Wave Effects -->
    <script src="{% static 'js/waves.js' %}"></script>
 <!-- Custom Theme JavaScript -->
    <script src="{% static 'js/custom.min.js' %}"></script>

    {% comment %} <script src="https://code.jquery.com/jquery-1.12.4.js"></script> {% endcomment %}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
        $(function () {
            $("#datetimepicker1").datetimepicker();
        });
    </script>


</body>

</html>
