{% extends 'base.html' %}
{% load static %}
{% load currency %}
{% block content %}
<script>
    var URL = "{% url 'customers' %}"
</script>
<script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Customers</h4> </div>
                    <span>
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{message.tags}} alert-dismissible">
                                {{ message|safe }}
                                <a href="" class="close" and data-dismiss="alert">Close-X</a>
                            </div>
                        {% endfor %}
                    {% endif %}

                    </span>
        </div>
        {% comment %} My Chart {% endcomment %}
        {% comment %} <div id="container" style="width: 75%;">
            <canvas id="pie-chart"></canvas>
        </div> {% endcomment %}
        
        
        <!-- /.row -->
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="white-box">
                    
                    <h3 class="box-title">Customer Details</h3>

                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                    Create Sales Receipt
                    </button>


                    <!-- The Modal -->
                    <div class="modal model-print" id="myModal">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Cash Receipt</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Check No</th>
                                            <th>Customer Name</th>
                                            <th>Date</th>
                                            <th>Mode of Payment</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <span id="chequeNo">R-id</span>
                                            </td>

                                            <td>
                                                <input type="text" name="customername" class="form-control">
                                            </td>

                                            <td>
                                                <input type="date" name="Date" class="form-control">
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <select class="form-control" id="exampleFormControlSelect1">
                                                    <option>Cash</option>
                                                    <option>Bank</option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <!-- Modal body -->
                                <div class="modal-body">
                                    <table class="table order-list table-striped" id="myTable">
                                        <thead>
                                            <tr>
                                                <th>Item</th>
                                                <th>Quantity</th>
                                                <th>Price</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                            <tbody id="addItems">
                                                
                                        </tbody>
                                    </table>
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>
                                                <label>Grand Total</label>
                                                </td>
                                                <td></td>
                                                <td></td>
                                                <td> &nbsp;
                                                    <span id="amountDue">0.00</span>
                                                    {% comment %} <input type="text" name="grandtotal" id="amountDue" disabled class="form-control"> {% endcomment %}
                                                    &nbsp;
                                                </td>
                                                <td colspan="5" style="text-align: left;">    
                                                    <button onclick="addItem();" class="btn btn-sm btn-success" value="Add Row"><i class="fa fa-plus"></i>Add Row</button>
                                                </td>
                                                
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button onclick ="confirmPrint();" id="addrowp">Print Me</button>
                                    {% comment %} <a href="{% url 'cashreceipt' %}"><button type="button" class="btn btn-primary">Generate Receipt</button></a> {% endcomment %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                    <table id="example" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                        <thead>
                            <tr>
                                <th>Customer Name</th>
                                <th>Contact</th>
                                <th>Item Purchased</th>
                                <th>Quantity</th>

                                <th>Amount Paid</th>
                                <th>Balance</th>
                                <th>Order Status</th>
                                <th>Mode of Payment</th>
                                <th>Purchased_From</th>
                                <th>due_date</th>
                                {% comment %} <th>Action</th> {% endcomment %}
                            </tr>
                        </thead>
                        <tbody>
                        {% for customer in customers %}
                            <tr>
                                <td>{{ customer.customerName }}</td>
                                <td>{{ customer.contact }}</td>
                                <td>{{ customer.item_purchased }}</td>
                                <td>{{ customer.quantity }}</td>
                                
                                <td>{{ customer.totalAmountPaid |currency:request.session.currency }} {{ request.session.currency }}</td>
                                <td>{{ customer.balance |currency:request.session.currency }} {{ request.session.currency }}</td>
                                {% if customer.order_status == "Complete" %}
                                    <td style="color:green">{{ customer.order_status }}</td>
                                {% else %}
                                    <td style="color:red">{{ customer.order_status }}</td>
                                {% endif %}
                                <td>{{ customer.modeOfPayment }}</td>
                                <td>{{ customer.purchased_From }}</td>
                                <td>{{ customer.due_date }}</td>
                                {% comment %} <td><a href="{% url 'customerdetail' customer.id %}" style="color: green;">Edit</a></td> {% endcomment %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var receiptId = "R-" + Math.random().toString(16).slice(2)
        document.getElementById("chequeNo").innerText = receiptId;
    });
    var renumber = 0;
    let total = 0;

    function confirmPrint() {
        var proceed = confirm("Are you sure you want to print?");
        if (proceed) {
           /** total = total;
            var data = {
                'Receipttotal':total,
                'csrfmiddlewaretoken': window.CSRF_TOKEN
            };
            $.post(URL,data,function(response){
                if(response === 'success'){
                    alert('Total Successfully added to Account');
                    window.print();
                }
                else{
                    alert('There was an error submitting the data');
                }
            });
            **/
            window.print();
        } else {
        //don't proceed
        }
    }
    

    function calculateDueAmount() {
        var tblRows = document.getElementById("addItems").getElementsByTagName('tr');
        
        for (var i = 0; i < tblRows.length; i++) {
          let lineTotal = tblRows[i].getElementsByTagName('td')[3].getElementsByTagName('input')[0].value;
          total += Number(lineTotal)
        }
        document.getElementById("amountDue").innerText = total.toFixed(2);
      }

      function addItem() {
        renumber++;
        var html = "<tr>";
                       
            html  += '<td><select class="form-control">{% for stock in stocks %}<option valve="{{stock.inventoryPart}}">{{stock.inventoryPart}}</option>{% endfor %}</select></td>';
            html  += "<td><input type='number' class='form-control' onblur='lineTotal(this);' value='0' name='quantity[]'/></td>";
            html  += "<td><input type='text' class='form-control' onblur='lineTotal(this);' value='0' name='price[]'/></td>";
            html  += "<td><input type='text' id='lineTotal' class='form-control' onblur='lineTotal(this);' value='0' disabled name='total[]'/></td>";

            html += "</tr>";
            document.getElementById("addItems").insertRow().innerHTML = html;
        };
    
        function lineTotal(elem) {
            var mainRow = elem.parentElement.parentElement;
            var quantity = mainRow.getElementsByTagName('td')[1].getElementsByTagName('input')[0].value;
            var price = mainRow.getElementsByTagName('td')[2].getElementsByTagName('input')[0].value;
            var total = mainRow.getElementsByTagName('td')[3].getElementsByTagName('input')[0];
            var myResult = Number(quantity) * Number(price);
            total.value = myResult;
            calculateDueAmount(); 

            
          }
    
    
    function calculateRow(row) {
        var price = +row.find('input[name^="price"]').val();
        
        console.log(price);
    }
    
    function calculateGrandTotal() {
        var grandTotal = 0;
        $("table.order-list").find('input[name^="price"]').each(function () {
            grandTotal += +$(this).val();
        });
        $("#grandtotal").text(grandTotal.toFixed(2));
    }
</script>
{% endblock %}