{% extends 'base.html' %}
{% load static %}
{% load currency %}
{% load humanize %}
{% block content %}

<script>
    var URL = "{% url 'customers' %}"
</script>
<script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Customer Receipt</h4> 
            </div>
            <span>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{message.tags}} alert-dismissible">
                        {{ message|safe }}
                        <a href="" class="close" and data-dismiss="alert">Close-X</a>
                    </div>
                {% endfor %}
            {% endif %}
            </span>
        </div>

        <div>
            <div>
                <div >

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Cash Receipt</h4>
<!--                                    <h4 class="modal-title">SJ&F HMS</h4>-->
                        <h5 class="modal-title">P.O.BOX Malikia South Sudan</h5>
                        <h5 class="modal-title">Behind Eden Commercial Bank</h5>
                        <h5 class="modal-title">+211(0)924248033/+211(0)919253500</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <table class="table table-striped">
                        <form method="POST" action="">
                            {% csrf_token %}
                        <thead>
                            <tr>
                                <th>Check No</th>
                                <th>Customer Name</th>
                                <th>Date</th>
                                <th>Mode of Payment</th>
                                <th>Purchased From</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            <tr>
                                <td>
                                    {% comment %} <span id="chequeNo" name="chequeNo">R-id</span> {% endcomment %}
                                    <input type="text" value="" id="chequeNo" name="chequeNo" />
                                </td>

                                <td>
                                    <input type="text" name="customerName" id="customerName" class="form-control">
                                </td>

                                <td>
                                    <input type="date" id="date" name="date" class="form-control">
                                </td>
                                <td>
                                    <div class="form-group">
                                        <select class="form-control" name="modeOfPayment" id="modeOfPayment">
                                            <option value="Cash">Cash</option>
                                            <option value="Bank">Bank</option>
                                        </select>
                                    </div>
                                </td>
                                   <td>
                                    <div class="form-group">
                                        <select class="form-control" name="purchasedFrom" id="purchasedFrom">
                                            <option value="SJ">SJ</option>
                                            <option value="Firdous">Firdous</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <table class="table order-list" id="myTable">
                            <thead>
                                <tr>
                                    <th>Item</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                    <th>Discount</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody id="addItems">

                                

                                {% for i in loopdata %}
                                <tr>
                                    <td><input list='stock-items' id='ice-cream-choice' name='ice-cream-choice{{i}}' class='form-control'/></td>
                                    <datalist id='stock-items'>{% for stock in stocks %}<option class='form-control' value='{{stock.inventoryPart}}'> <span>Price:{{ stock.sellingPrice }}</span> {% endfor %}</datalist>
                                    <td><input type='number' class='form-control' value='' id='quantity{{i}}' min='0' placeholder='quantity' name='quantity{{i}}'/></td>
                                    <td><input type='number' class='form-control' value='' id='price' min='0' placeholder='price' name='price{{i}}'/></td>
                                    <td><input type='number' class='form-control' value='' id='discount' min='0' placeholder='% discount' name='discount{{i}}'/></td>
                                    <td><input type='number' id='lineTotal' class='form-control' value='' min='0' placeholder='total paid' name='totalAmountPaid{{i}}' /></td>    
                                </tr>
                                {% endfor %}
                                
                                
                            </tbody>
                        </table>
                        <table>
                            <tbody>
                                
                                <tr>
                                    <td>
                                    <label>Grand Total</label>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td> &nbsp;
                                        <span id="amountDue" value="0.00">0.00</span>
                                        <span id="currencyy" value="">: SSP</span>
                                        {% comment %} <input type="text" name="grandtotal" id="amountDue" disabled class="form-control"> {% endcomment %}
                                        &nbsp;
                                    </td>
                                    

                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button onclick ="confirmPrint();" id="addrowp">Print Me</button>
                        <button type="submit" name="sender" class="btn btn-primary">Send Data</button></a>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function confirmPrint() {
        var proceed = confirm("Are you sure you want to print?");
        if (proceed) {
            
            window.print();
        }
        else{
            alert('There was an error submitting the data');
        }
        //don't proceed
    }
</script>
{% endblock content %}