{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Transfer</h4>
            </div>
        </div>
        <!--row -->
        <!-- /.row -->
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="white-box">
                    
                    <h3 class="box-title">Transfer Details</h3>
             
                    <table id="example" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Invoice No</th>
                                <th>Vendor</th>
                                <th>Mode of payment</th>
                                <th>Amount Paid</th>
                                <th>Account</th>
                                <th>Balance</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for inv in transfers %}
                        
                            <tr>
                                <td><b>{{ inv.date }}</b></td>
                                <td>I-{{ inv.InvoiceNumber }}</td>
                                <td>{{ inv.vendor }}</td>
                                <td>{{ inv.modeOfPayment }}</td>
                                <td>{{ inv.amountPaid }}</td>
                                <td>{{ inv.chooseAccount }}</td>
                                <td>{{ inv.Balance }}</td>
                                {% if inv.status == "Complete" %}
                                    <td style="color:green">{{ inv.status }}</td>
                                {% else %}
                                    <td style="color:red">{{ inv.status }}</td>
                                {% endif %}
                                
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}